.header {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-weight: bold;
    background-color: #fff;
}