.modal-app {
    padding: 10px 0 40px;
}
.modal-btn-list {
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px 5%;
    list-style: none;
}
.modal-btn-list-item,
.modal-btn-list-item button {
    width: 100%;
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.modal.show {
    display: block;
}
.modal-window {
    width: calc(100% - 50px);
    max-width: 800px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
.modal-contents {
    position: relative;
}
.task-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0 30px;
    text-align: start;
    list-style: none;
}
.task-list-item + .task-list-item {
    border-top: 1px solid hsl(0 0% 60% / 1);
}
.show-btn {
    cursor: pointer;
}
.close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    background-color: hsl(0 0% 60% / 1);
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.overlay {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #00000070;
}