.login-component {
    height: 100vh;
    padding: 100px 0;
    background-color: #f0f0f0;
}
.login-form-area {
    width: calc(100% - 60px);
    max-width: 500px;
    margin: 0 auto;
}
.login-form {
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 7px #ddd;
}
.login-label {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.login-input {
    width: 50%;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.form-bottom {
    text-align: center;
}
.login-btn {
    width: 30%;
    height: 40px;
    margin: 10px auto;
    display: block;
    font-weight: bold;
    color: #fff;
    background-color: #4e4e4e;
    border-radius: 15px;
}
.login-link {
    font-size: 15px;
}