.todo-list {
    list-style: none;
}
.todo-list-item {
    width: 80vw;
    display: grid;
    grid-template-columns: 20px 1fr 50px;
    justify-items: baseline;
    gap: 5px;
}
.todo-list-item + .todo-list-item {
    margin-top: 5px;
}