.chat-container {
    min-height: 100vh;
    background-color: #f0f0f0;
}
.chat-inner {
    width: calc(100% - 60px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
/* CharList */
.chat-list,
.chat-area {
    background-color: #fff;
}
.chat-list {
    display: grid;
    align-content: baseline;
}
.chat-list-item  {
    padding: 10px 5px;
    cursor: pointer;
}
.chat-list-item:hover {
    background-color: #5a6868;
    color: #fff;
}
.chat-list-item.selected {
    opacity: 0.7;
}
.chat-list-item:hover .newest-message {
    color: #fff;
}
.chat-list-item + .chat-list-item {
    border-top: 1px solid #f0f0f0;
}
.frend-name {
    margin-bottom: 5px;
    font-weight: bold;
}
.newest-message {
    color: #555;
}
/* ChatForm */
.chat-area {
    position: relative;
}
.chat-message {
    height: calc(100vh - 100px);
    padding: 10px 10px 90px;
    background-color: #98c1c1d9;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.message-list-item {
    display: flex;
}
.message-list-item.frend {
    justify-content: flex-start;
}
.message-list-item.mine {
    justify-content: flex-end;
}
.message-list-item + .message-list-item {
    margin-top: 10px;
}
.message-list-item.frend + .message-list-item.frend {
    margin-top: 5px;
}
.message-list-item.mine + .message-list-item.mine {
    margin-top: 5px;
}
.message {
    padding: 4px 15px;
    display: inline-block;
    background-color: #fff;
}
.message-list-item.frend .message {
    border-radius: 10px 10px 10px 0;
}
.message-list-item.mine .message {
    border-radius: 10px 10px 0 10px;
}
.chat-from {
    width: calc(100% - 11px);
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 1fr 70px;
    align-items: end;
    gap: 10px;
    position: absolute;
    bottom: 0;
    background-color: #ffffffa6;
}
.chat-input {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    scrollbar-width: none;
    resize: none;
}
.chat-btn {
    width: 70px;
    height: 30px;
    color: #fff;
    background-color: #4e4e4e;
    text-align: center;
    border-radius: 15px;
}